@import url('https://fonts.googleapis.com/css2?family=Tac+One&display=swap');

*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;

}
/* body{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    width: 100%;
    height: 100vh;
    background: rgb(9,9,9);

} */
.contenedor-header{
    background: #1e2326;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 99;
}

.contenedor-header header{
    max-width: 1100px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
}
.contenedor-header header .logo a{
    font-family:Verdana, Geneva, Tahoma, sans-serif; 
    font-size: 36px;
    color: darkgoldenrod;
}

.contenedor-header header ul{
    display: flex;
    list-style: none;
}

.contenedor-header header nav ul li a{
    text-align: none;
    color: #fff;
    margin: 0 15px;
    padding: 3px;
    transition: .5s;
    text-decoration: none;
}
.contenedor-header header nav ul li a:hover{
    color: darkgoldenrod;
}

.nav-responsive{
    background-color: darkgoldenrod;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    display: none;
}

/* SECCION INICIO */
.inicio{
    background: linear-gradient(to top, rgba(30,35,38,.1), rgba(30,35,38,1)),
    url("../imgs/Mockuo\ Banner.jpg");
    background-size: cover;
    height: 100vh;
    color: #fff;
    display: flex;
    align-items: center;
}
    /* cadrs */

.wrapper{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    background-color: #1e2326;
    
    
}

.container{
    width: 100%;
    height: 400px;
    display: flex;
    flex-wrap: nowrap;
}

.container{
    @media  (max-width: 650px) {
    width: 100%;
    /* margin-left: -12%; */
  }
} 
.card{
    width: 10%;
    border-radius: .75rem;
    background-size: cover;
    cursor: pointer;
    overflow: hidden;
    border-radius: 2rem;
    margin: 0 5px;
    /* padding: 5%; */
    display: flex;
    align-items: center;
    transition: .3s cubic-bezier(.28,-0.03,0,.10);
    box-shadow: 0px 10px 30px -5px rgba(0,0,0,0.8);
    
    
    
}


input {
    display: none;
}

input:checked + label {
    
    width: 860px;
    height: 400px;
    
}

input:checked + label {
    @media  (max-width: 650px) {
    width: 7700px;
    height: 400px;
    
  }

}


.card[for="c1"] {
    background-image: url("../imgs/img1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    
}
.card[for="c2"] {
    background-image: url("../imgs/img1.jpg");
    background-position: inherit ;
    background-size: cover;
}
.card[for="c3"] {
    background-image: url("../imgs/img1.jpg");
    background-size: cover;
    
}
.card[for="c4"] {
    background-image: url("../imgs/img1.jpg");
    background-size: cover;
}
.card[for="c5"] {
    background-image: url("../imgs/img1.jpg");
    background-size: cover;
}
.card[for="c6"] {
    background-image: url("../imgs/img1.jpg");

    background-size: cover;
}
.card[for="c7"] {
    background-image: url("../imgs/img1.jpg");
    background-size: cover;
}

/* Seccion hombre */

.SeccionH{
   
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height:500px;
    background-image: url("../imgs/fondohombreok.webp");
    background-size: cover;
    background-repeat: no-repeat;
    backdrop-filter: opacity(80%);
    
}

    .SeccionH h5{
        margin-left: 3%;
        text-align: center;
        width: 90%;
        color: black;
                
    }
    .SeccionH h2{
        text-align: center;
        color: darkgoldenrod;
                
    }

/* Seccion mujeres */

.SeccionM{
   
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height:500px;
    background-image: url("../imgs/fondomujer.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    filter: brightness(80%);
    
}

    .SeccionM h2{
        text-align: center;
        color: darkgoldenrod;
    }
    .SeccionM h5{
        margin-left: 3%;
        text-align: center;
        width: 90%;
        color: wheat;
    }

/* Carrusel */

.carrusel{
    width: 100%;
    height: 600px;
    background-color: #252a2e;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.ok{
    width: 100%;
    display: flex;
    flex-direction: row;
    /* justify-content: center; */
    align-items: center;
    
    
}

.tesCarrusel{
    width: 100%;
    height: 70%;
    display: flex;
    /* justify-content: center; */
    flex-direction:column; 
    gap: 5px; 
    margin: 5%;  
}

.tesCarrusel img{
    width: 100%;
    height: 70%;
    border-radius: 10%;
}
.carrusel h2{
    color: #b8860b;
}




.contfinal{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    background-color: black;
    padding: 5%;
    
}

    .contfinal h3{
        color: darkgoldenrod;
    }

    .contfinal p{
        color: white;
    }
    .contfinal h6{
        color: darkgoldenrod;
    }


/* cards_catalogo */



    

.cards{
    margin-top: 10%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aliceblue;
    
}
.container{
    height: 100%;
    max-width: 1200px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 10%;
    gap: 10px;

}

.card{
    height: 350px;
    width: 300px;
    margin: 10px;
    transition: 300ms;
    

}

 .personaje, .personaje_2, .personaje_3 {

    height: 350px;
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10%;
    background-color:darkgoldenrod;
    transition: 300ms;
    
    /* position: absolute; */


} 
 /* imgenes */

.imagen_personaje{
    height: 350px;
    width: 250px;
    background-image: url("../imgs/hombre/Ilmin\ -\ IlEgo-caja.jpeg");
    background-size: contain;
    background-repeat: no-repeat;
    margin-bottom: 200px;
    /* transition: 300ms; */
    filter: drop-shadow(5px -4px 10px #000);
}

.imagen_personaje_2{
    height: 350px;
    width: 250px;
    background-image: url("../imgs/hombre/AlHaramain\ L┬┤Aventure.webp");
    background-size: contain;
    background-repeat: no-repeat;
    margin-bottom: 200px;
    transition: 300ms;
    filter: drop-shadow(5px -4px 10px #000);

}
.imagen_personaje_3{
    height: 350px;
    width: 250px;
    background-image: url("../imgs/hombre/Bharara-King.png.webp");
    background-size: contain;
    background-repeat: no-repeat;
    margin-bottom: 200px;
    transition: 300ms;
    filter: drop-shadow(5px -4px 10px #000);

}
.detalle, .detalle_2, .detalle_3 {
    height: 200px;
    width: 300px;
    background-color: white;
    color: black;
    position: absolute;
    border-bottom-left-radius: 10%;
    border-bottom-right-radius: 10%;
    margin-top: 150px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: 10px;
    /* display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    transition: 300ms; */
}


/* hover */

.car :hover .imagen_personaje{
    transform: translateY(-40px);
    transition: 300ms;
    filter: none;
    background-image: url("../imgs/hombre/Ilmin-IlEgo.jpeg");
    background-size: contain;
    background-repeat: no-repeat;
}
.car :hover .imagen_personaje_2{
    transform: translateY(-40px);
    transition: 300ms;
    filter: none;
    background-image: url("../imgs/hombre/BHARARA\ BLEU.webp");
}


.car :hover .imagen_personaje_3{
    transform: translateY(-40px);
    transition: 300ms;
    filter: none;
    background-image: url("../imgs/hombre/BHARARA\ BLEU.webp");
}


/* Response menu  */
@media screen and (max-width:980px){
    nav{
        display: none;
    }
    .nav-responsive{
        display: block;
    }
    nav.responsive{
        display: block;
        position: absolute;
        right: 0;
        top: 75px;
        background-color: #252a2e;
        width: 180px;

    }
    nav.responsive ul{
        display: block !important;
    }
    nav.responsive ul li{
        border-bottom: 1px solid #fff;
        padding: 10px 0;
    }
}

/* TIENDA  */

.contenedor{

    max-width: 100%;
    padding: 10px;
    margin: auto;
    display: flex;
    justify-content: space-between; 
    /* oculto lo que queda fuera del contenedor */
    contain: paint;background-color: #252a2e;
 }
 .contenedor .contenedor-items{
     margin-top: 50px;
     display: grid;
     grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
     grid-gap: 30px;
     grid-row-gap: 30px;
     width: 100%;
     transition: .3s;
 }
 
 .contenedor .contenedor-items .item{
    
     max-width: 200px;
     padding: 10px;
     margin: auto;
     border: 1px solid #666;
     border-radius: 10px;
     padding: 20px;
     transition: .3s;
     color: #b8860b;
     
     
     
 
 }
 .contenedor-items .item:hover{
     box-shadow: 0 0 10px #666;
     scale: 1.10;
 }
 .contenedor-items .item .img-item{
     width: 100%;
     height: 150px;
 
 }
 
 .contenedor-items .item .titulo-item{
     display: block;
     font-weight: bold;
     text-align: center;
     text-transform: uppercase;
     margin: 10%;
 }
 
 .contenedor-items .item .precio-item{
     display: block;
     text-align: center;
     font-weight: bold;
     font-size: 22px;
 
 }
 
 .contenedor-items .item .btn-item{
     display: block;
     margin: 10px auto;
     border: none;
     background-color: black;
     color: #fff;
     padding: 5px 15px;
     border-radius: 5px;
     cursor: pointer;
 
 }
 
 /* Seccion carrito */
 
 .carrito{
     border: 1px solid #666;
     width: 35%;
     margin-top: 30px;
     border-radius: 10px;
     overflow: hidden;
     margin-bottom: auto;
     position: sticky !important;
     top: 0;
     transition: .3s;
     opacity: 0;
     margin-right: -100%;
     /* background-color: #252a2e; */
     color: #b8860b;
 }
 .carrito .header-carrito{
     background-color: #000;
     color: #fff;
     text-align: center;
     padding: 30px 0;
 }
 
 .carrito .carrito-item{
     display: flex;
     align-items: center;
     position: relative;
     border-bottom: 1px solid #666;
     padding: 20px ;
 
 }
 
 .carrito .carrito-item img{
     margin-right: 20px;
 
 }
 
 .carrito .carrito-item .carrito-item-titulo{
     display: block;
     font-weight: bold;
     margin-bottom: 10px;
     text-transform: uppercase;
 }
 
 .carrito .carrito-item .selector-cantidad{
     display: inline-block;
     margin-right: 25px;
 
 }
 
 .carrito .carrito-item .carrito-item-cantidad{
     border: none;
     font-size: 18px;
     background: transparent;
     display: inline-block;
     width: 30px;
     padding: 5px;
     text-align: center;
 }
 
 .carrito .carrito-item .selector-cantidad i{
     font-size: 18px;
     width: 32px;
     height: 32px;
     line-height: 32px;
     text-align: center;
     border-radius: 50%;
     border: 1px solid #000;
     cursor: pointer;
     color: #b8860b;
 }
 
 .carrito  .carrito-item .carrito-item-precio{
     font-weight: bold;
     display: inline-block;
     font-size: 18px ;
     margin-bottom: 5px;
 
 }
 .carrito  .carrito-item .btn-eliminar{
     position: absolute;
     right: 15px;
     top: 15px;
     color: darkgoldenrod;
     width: 40px;
     height: 40px;
     line-height: 40px;
     text-align: center;
     border-radius: 50%;
     border: 1px solid #000;
     cursor: pointer;
     display: block;
     background-color: transparent;
     z-index: 20;
 
 }
 
 .carrito .carrito-item .btn-eliminar i{
     pointer-events: none;
 }
 
 .carrito-total{
     background-color: #252a2e;
     padding: 30px;
 }
 
 .carrito-total .fila{
     display: flex;
     justify-content: space-between;
     align-items: center;
     font-size: 22px;
     font-weight: bold;
     margin-bottom: 10px;
 }
 
 .carrito-total .btn-pagar{
     display: block;
     width: 100%;
     border: none;
     background-color: #000;
     color: #fff;
     border-radius: 5px;
     font-size: 18px;
     padding: 20px;
     display: flex;
     justify-content: space-between;
     align-items: center;
     cursor: pointer;
     transition: .3s;
 }
 
 .carrito-total .btn-pagar:hover{
     scale: 1.05;
 }
 
 /* Seccion responsive */
 @media screen and (max-width:850px) {
     .contenedor{
         display: block;
     }
     .contenedor-items{
         width: 100% !important;
     }
     .carrito{
         width: 100%;
     }
     
     }
 
 }
 
 
 